<div *ngFor="let control of arr.controls | slice : 0 : num; let i = index" >
  
<form [formGroup]="$any(control)"  (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input  control="$any(control).controls['firstName']" > <br>

    <label for="last-name">Last Name: </label>
    <input  control="$any(control).controls['lastName']" > <br>

    <label for="email"> Email: </label>
    <input  control="$any(control).controls['email']" > <br>

    <label >Password</label>
    <input 
    control="$any(control).controls['password']"
        type="password" 
        class="form-control">
      


<div class="form-group">
    <label >Confirm Password</label>
    <input 
        control="$any(control).controls['confirmPassword']"
        type="password" 
        class="form-control">
       
</div>
    </form>

     <p>Complete the form to enable button.</p>
    <button type="submit" (click) ="checkPassword()">Submit</button>
    <br>

    <button class="btn-btn-primary btn1" (click)="addForm()">Add</button>
    <button class="btn-btn-primary btn2" (click)="deleteForm(i)">Remove</button>
</div>